//CONTAINER WITH BACKGROUND IMAGE START HERE

.background-img{
    background-image: url(../img/images/hero-new-construction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 442px;
}

.social-container{
    z-index: $zindex-fixed;
}



.optin-container{
    z-index: $zindex-sticky;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    &::before, &::after{
        content: '';
        flex: 1;
        border-bottom: 1px solid #EAEAEA;
    }
    &::before{
        margin-right: 10px;
    }
    &::after{
        margin-left: 10px;
    }
}

.btn-normal , .btn-facebook{
    
    border-radius: 20px;
    
}


.header-border{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        width: 2%;
        height: 1px;
        bottom: 0;
        left: 18px;
        border-bottom: 3px solid #b8b8b8;
    }
    h3{
        font-weight: 700 !important;
    }
}

.button-slide{
    float: right;
    a:hover {
        color: white !important;
      }
}

.btn-slides-arrow{
    border-radius: 0 !important;
    color: white;
    background-color: #3454d1;
}

.pagination_rounded{
    display: inline-block;
    margin-left: 0px;
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
    .active {
        background: #3454d1;
        color: #fff;
        border: 1px solid #3454d1;
    }
}

.pagination_rounded ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.pagination_rounded li:first-child {
    margin-left: 0px
}

.pagination_rounded ul li {
    float: left;
}



.pagination_rounded ul li a:hover {
    background: #3454d1;
    color: #fff;
    border: 1px solid #3454d1
}

a:link {
    text-decoration: none
}



.pagination_rounded ul li a {
    float: left;
    color: #3454d1;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: 40px;
    
}

