//CONTAINER WITH BACKGROUND IMAGE START HERE

.background-img{
    background-image: url(../img/images/hero-new-construction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: $bgheight;
}

.social-container{
    z-index: $zindex-fixed;
    background-color: transparent;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li{
        background-color: $body-bg;
    }

    li:hover{
        transform: translatex(10px);
        transition:0.3s; 
        margin-left: -10px;
        background-color: $body-bg;
    }
}

.optin-container{
    z-index: $zindex-sticky;
}


.col-md-5{
    .card{
        .card-body{
            padding: $custom-control-gutter; 
        }
    }
}




.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-600;
    font-size: $fontseperator;
    font-weight: $font-weight-normal;
    margin-top: $carousel-control-icon-width;
    margin-bottom: $carousel-control-icon-width;
    &::before, &::after{
        content: '';
        flex: 1;
        border-bottom: $border-width solid $gray-200;
    }
    &::before{
        margin-right: fontseperator;
    }
    &::after{
        margin-left: fontseperator;
    }
}


.carousel-inner > .carousel-item > img {

    height: $sliderheight;
    width: $fullsize;
}

.carousel-indicators li {
    width: $fontseperator;
    height: $fontseperator;
    border-radius: $fullsize;
}

.btn-normal , .btn-facebook{
    
    border-radius: $carousel-control-icon-width;
    
}


.header-border{
    display: inline-block;
    padding-bottom: $fivepix;
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        width: 2%;
        height: 1px;
        bottom: 0;
        left: $fivepix;
        border-bottom: 3px $solid $gray-500;
    }
    h3{
        font-weight: $font-weight-bold;
    }
}

.button-slide{
    a:hover {
        color: $white;
      }
}

.btn-slides-arrow{
    border-radius: 0 !important;
    color: $white;
    background-color: $normal;
}

.pagination_rounded{
    display: inline-block;
    margin-left: $zeropix;
    border-radius: $tfivepix;
    height: $tfivepix;
    .active {
        background: $normal;
        color: $white;
        border: 1px $solid $normal;
    }
}

.pagination_rounded ul {
    margin: $zerovar;
    padding: $zerovar;
    list-style: none
}

.pagination_rounded li:first-child {
    margin-left: $zeropix
}

.pagination_rounded ul li {
    float: left;
}



.pagination_rounded ul li a:hover {
    background: $normal;
    color: #fff;
    border: 1px $solid $normal
}

a:link {
    text-decoration: none
}



.pagination_rounded ul li a {
    float: left;
    color: $normal;
    border-radius: $custom-radio-indicator-border-radius;
    line-height: $grid-gutter-width;
    width: $grid-gutter-width;
    text-align: center;
    margin-bottom: 40px;
    
}

//MOBILE STYLE START HERE 



@media only screen and (max-width: 767px){
    .background-img{
        max-height: $fullsize;
    }
}

